@import "bootstrap/dist/css/bootstrap.min.css";

ol.p-breadcrumb-list {
  margin-bottom: 0rem;
  padding-left: 0rem;
}

.p-breadcrumb {
  background: none;
}

button.p-button.p-component {
  border-radius: 4px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: rgb(222, 226, 230);
  border-style: solid;
  border-top-width: 1px;
}


ul.p-dropdown-items {
  padding-left: 0px;
}

.p-field {
  margin-bottom: 13px;
}